@mixin box-shadow() {
  -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3); /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}

@mixin input-styles($color) {
  border: none;
  text-align: center;
  padding: 5px;
  margin: 10px;
  outline: none;
  color: $color;
  background: transparent;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

$lightBlue: #19b2e0;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.image {
  &.title {
    color: #888;
  }
}

.header {
  font-family: cursive;
  letter-spacing: 10px;
  color: white;
  background-image: linear-gradient(
      rgba(113, 113, 113, 0.3),
      rgba(113, 113, 113, 0.3)
    ),
    url("../assets/header.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  font-size: 50px;
}

.btn {
  padding: 10px;
  color: white;
  font-size: 15px;
  outline: none;
  border: none;
  margin: 10px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);

  &.nav {
    background: $lightBlue;
  }
  &.submit {
    background: lightcoral;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &.login {
    background-image: url("../assets/background.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.form-wrapper {
  max-width: 400px;
  margin: auto;

  &.login {
    text-align: center;
    width: 80%;
    background: rgba(255, 255, 255, 0.8);
    button {
      @include input-styles(black);
      span {
        border-bottom: 1px dotted black;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  input {
    @include input-styles(black);
    @include placeholder(black);
    border-bottom: 1px solid black;
  }
  .submit {
    border: none;
    color: white;
  }
}

/*
 * ALBUMS & PHOTOS
 */
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  width: 90%;
  margin: auto;

  > div {
    margin: 10px;
    position: relative;
  }
}
