@mixin box-shadow() {
  -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3); /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}

@mixin input-button-styles($color) {
  border: none;
  text-align: center;
  padding: 5px;
  margin: 10px;
  outline: none;
  color: $color;
  background: transparent;
}

@mixin placeholder() {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

#login {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#login-wrapper {
  text-align: center;
  width: 80%;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  form {
    display: flex;
    flex-direction: column;
    input {
      @include input-button-styles(white);
      @include placeholder {
        color: white;
      }
      border-bottom: 1px solid white;
    }
    input[type="submit"] {
      border: none;
      background-color: #19b2e0;
      border-radius: 20px;
      padding: 10px;
    }
  }
  button {
    @include input-button-styles(white);
    span {
    border-bottom: 1px dotted white;
    }
  }
}


// Albums view
#album-form {
  max-width: 400px;
  margin: auto;
  form {
    display: flex;
    flex-direction: column;
    input {
      @include input-button-styles(black);
      @include placeholder {
        color: black;
      }
      border-bottom: 1px solid black;
    }
    input[type="submit"] {
      border: none;
      background-color: lightcoral;
      border-radius: 20px;
      padding: 10px;
    }
  }
}
.greeting {
  color: white;
  margin: 0px;
  padding: 30px;
  background: darkgrey;
  text-align: center;
  font-size: 35px;
}
.add-button {
  padding: 10px;
  background: lightcoral;
  color: white;
  font-size: 15px;
  outline: none;
  border: none;
  margin: 10px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.photos-grid {
  display: flex;
  flex-wrap: wrap;
  div {
    margin: 10px;
  }
  img {
    max-width: 300px;
  }
  p {
    margin: 0px;
  }
}